*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1{
    font-weight:10px;
    text-align: center;
    margin:30px;

}

p{
    padding:30px;
}
div{
    position: relative;
}

.box{
    background-color: gray;
    border: 1px solid black;
    width:33.30%;
    float: left;
    
}

h2{
    border:1px solid black;
    width:40%;
    position: absolute;
    top:0;
    right: 0;
    text-align: center;
    background-color: aqua;
    box-sizing: border-box;
}
.box-3 h2{
    background-color: brown;
}
.box-2 h2{
    background-color: palevioletred;
}

@media (min-width:768px) and (max-width:991px){

   .box-3{
       width:100%;
       margin-top: 20px;
       height:150px;
       text-align: center;

   }
   .box-3 p{
       margin-top:15px;
   }

   .box-3 h2{
       width:20%;
   }
   .box-1, .box-2{
       width:50%;
   }
    
    
}
@media(max-width:767px){
    .box{
        clear:left;
        background-color:peru ;
        width:40%;
        margin:20px;   
    }
    p{
        font-size: small;
    }
    .container{
        margin-top:-35px;
        margin-left:35%;
    }
    h2{
        font-size:70%; ;
    }
    
}